:root {
    --primary-text-color: #2E2F42;
    --second-text-color: #434455;
    --white-text-color: #FFFFFF;
    --nav-menu-color: #404BBF;

    --primary-background-color: #FFFFFF;
    --second-background-color: #4D5AE5;
    --pressed-background-color:  #404BBF;

    --button-main-color: #FFFFFF;
    --button-secondary-color: #FFFFFF;
}

body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}


.span-logo {
    color: var(--primary-text-color);
}

.span-logo-footer {
    color: var( --white-text-color);
}

.nav-contacts-link,
.main-nav-link {
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    color: var(--second-text-color);
}

/* HEADER*//* HEADER*//* HEADER*//* HEADER*//* HEADER*/

.main-nav {
    font-family: Raleway, sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    list-style-type: none;
}
/* class=logo=link */
.link {
    font-family: Raleway, sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-contacts {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    list-style-type: none;
    

}

.main-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration:none;




}

.main-nav-link:hover,
.main-nav-link:focus,
.nav-contacts-link:hover,
.nav-contacts-link:focus {
    color: var(--nav-menu-color);
   
}



/* SCREEN 01 = HERO *//* SCREEN 01 = HERO */

.hero-title {
    color: var(-primary-text-color);
    text-align: center;
    color: var(--white-text-color);
    background-color: var(--primary-text-color);
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
}
/* HERO BUTTON */

.hero-button {
    font-family: Roboto, sans-serif;
    color: var(--white-text-color);
    letter-spacing: 0.64px;
    justify-content: center;
    background: var(--second-background-color);
    cursor: pointer;
}

.hero>button:hover,
.hero>button:focus {
    background: var(--pressed-background-color);

}

h2 {
    color: var(--second-text-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    
}

/* <!-- SCREEN 02 --> *//* <!-- SCREEN 02 --> */

.text-section-two {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.feature-screen-two {
    list-style-type: none;
}


/* <!-- SCREEN 03 --> *//* <!-- SCREEN 03 --> */

.pictures {
    list-style-type: none;
}

/* <!-- SCREEN 04 --> *//* <!-- SCREEN 04 --> */

.our-team {
    list-style-type: none;
}

/* FOOTER *//* FOOTER */

.footer text {
    color:  #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-decoration: none;
}

/* PPRTFOLIO PAGE *//* PPRTFOLIO PAGE *//* PPRTFOLIO PAGE */
/* PPRTFOLIO PAGE *//* PPRTFOLIO PAGE *//* PPRTFOLIO PAGE */

.portfolio-page {
    list-style-type: none;
}

.portfolio-page>a {
    text-decoration: none;
}

.portfolio-content-header {
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
}

.portfolio-content-text {
    color: var(--second-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.ul-filter {
    list-style-type: none;
}


/* BUTTONS *//* BUTTONS *//* BUTTONS *//* BUTTONS */

button {
    color: #4D5AE5;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    justify-content: center;
    border: 1px solid #E7E9FC;
    background: #F4F4FD;
    }

.li-filter>button:hover,
.li-filter>button:focus {
    color: #FFFFFF;
    background-color: var(--second-background-color); 
}

.li-filter>button:active {
    background-color: var(--pressed-background-color);
}
    
